.logo {
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../public/images/bricks.jpg);
  background-size: cover; */
}

.marges-logo {
  position: relative;
  display: block;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  font-size: 11rem;
  text-shadow: 0 0 0.2rem white, 0 0 0.8rem white, 0 0 1.5rem white,
    0 0 2rem red, 0 0 3rem red, 0 0 4rem red, 0 0 5rem red, 0 0 6rem red;
  /* animation: glow 2s infinite alternate; */
  /* font-family: "Lato", sans-serif; */
  line-height: 8rem;
}

.marges-logo::after {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre;
  content: "Marge's";

  display: block;
  /* font-family: "Brush Script MT", "Brush Script Std", cursive;
  font-size: 11rem; */
  height: 100%;
  width: 100%;
  /* z-index: -1; */
  /* color: blue; */
  /* background-color: black; */
  /* opacity: 0; */

  /* text-shadow: 5px 5px 20px green; */
  text-shadow: 0 0 0.6rem white, 0 0 1.2rem white, 0 0 2rem white, 0 0 6rem red,
    0 0 8rem red, 0 0 10rem red, 0 0 16rem red, 0 0 20rem red;

  /* transition: opacity 1s ease-in-out; */
  animation: opaque 5s infinite ease-in-out;
}
/* 
@keyframes glow {
  0% {
    text-shadow: 0 0 1rem white, 0 0 2rem white, 0 0 3rem white, 0 0 6rem red,
      0 0 8rem red, 0 0 10rem red, 0 0 12rem red, 0 0 15rem red;
  }
  100% {
    text-shadow: 0 0 0.2rem white, 0 0 0.8rem white, 0 0 1.5rem white,
      0 0 2rem red, 0 0 3rem red, 0 0 4rem red, 0 0 5rem red, 0 0 6rem red;
  }
} */

@keyframes opaque {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    /* text-shadow: 0 0 1rem white, 0 0 2rem white, 0 0 3rem white, 0 0 6rem red,
      0 0 8rem red, 0 0 10rem red, 0 0 12rem red, 0 0 15rem red; */
  }
  100% {
    opacity: 0;
  }
}

.logo {
  align-self: stretch;
  height: 60vh;
}
