.App {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/bricks.jpg);
  background-size: cover;
  overflow: hidden;
  /* background: fixed; */
}
* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

.large-title,
.sub-title {
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  text-shadow: 0px 5px 0.5rem black;
}

.routes {
  padding-top: 108px;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} */
/* 
header {
  color: white;
  background-color: red;
} */
